.inp {
  font-family: poppins, sans-serif;
  color: $gray;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  
  &::-webkit-resizer {
    display: none;

    border: 8px solid transparent;
    border-bottom-color: $gray;
    border-right-color: $gray;
  }
}