$blue: #007bff;
$yellow: #ffc107;
$yellow-light: #ffc10720;
$white: #fff;
$black: #000;
$gray: rgba(0, 0, 0, 0.55);
$gray-light: rgba(0, 0, 0, 0.05);
$gray-hover: rgba(0, 0, 0, 0.10);
$gray-bg: rgba(0, 0, 0, 0.20);
$gray-mid: rgba(0, 0, 0, 0.35);
$gray-dark: rgba(0, 0, 0, 0.85);
$gray-opaque: #707070;
$success: #7EFFA055;
$info: #7ECBFF55;
$warning: #FFB67E55;
$danger: #ff000055;
$light: #f8f9fa;
$dark: #343a40;
$header-height: 5rem;